div { 
	width: 200px; 
	height:200px ; 
}
.red {
	background: red;
	position: relative;
	width: 400px;
	height: 400px;
	padding: 20px; 
	margin: 20px;
}

.blue {
	background: blue;
	width: 100px;
	height: 100px;
	left: 100px;
	top:100px;
	position: absolute;
}

.green {
	background: #00ff00;
	width: 200px;
	height: 200px;
	left:200px ;
	position: absolute;
}

.black {
	background: black;
	width:50px; 
	height:50px;
	top: 50px;
	position:relative;
}